:root {
  --info: #39aebc; 
  --green:  #41b494;
  --lightgreen :#5ddb78 ;
  --red:#d24774;
  --grey:#999;
  --darkgrey: #687d95;
  --white:#f2fbf9;
  --solwhite :#f4f6f6;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

button{
  border-radius: 5px;
}
.headerButton{
  border: none;
  background: transparent;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fa-chevron-left{
  font-size: 24px;
  margin: 0px 10px 0px 12px;
}
.header{
  height: 60px;
  background-color: var(--info);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.saveSegmentButton{
  margin-left: 200px;
  margin-top:80px;
  border:2px solid var(--info);
  color: var(--info);
  font-size: 24px;
  font-weight: 600;
  background-color: white;
}
.offcanvas-header{
  margin: 0;
  padding: 0;
}
#offcanvasWithBothOptions{
  width: 50% !important;
}
.ssb{
  color: #fff;
  background-color: var(--info);
  font-size: 20px;
  font-weight: 500;
  margin: 0px 10px 0px 12px;
  height: 40px;
  border: none;
}
.cancel{
  background-color: #fff;
  color: var(--red);
  font-size: 20px;
  font-weight: 500;
  margin: 0px 10px 0px 12px;
  height: 40px;
  border: none;
}
.offcanvas-footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--solwhite);
  height: 100px;
}
.offcanvas-body{
  padding: 0;
  margin: 0;
}