button{
  border-radius: 5px;
}
.headerButton{
  border: none;
  background: transparent;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fa-chevron-left{
  font-size: 24px;
  margin: 0px 10px 0px 12px;
}
.header{
  height: 60px;
  background-color: #39aebc;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.saveSegment{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-left:150px;

}
.saveSegmentButton{
  border:2px solid #39aebc;
  color: #39aebc;
  font-size: 23px;
  font-weight: 600;
  background-color: white;
}
.offcanvas-header{
  margin: 0;
  padding: 0;
}
#offcanvasWithBothOptions{
  width: 50% !important;
}
.ssb{
  color: #fff;
  background-color: #41b494;
  font-size: 22px;
  font-weight: 500;
  margin: 0px 10px 0px 12px;
  padding: 10px;
  height: 50px;
  border: none;
}
.cancel{
  background-color: #fff;
  color:#d24774 ;
  font-size: 22px;
  font-weight: 500;
  padding: 10px;
  margin: 0px 10px 0px 12px;
  height: 50px;
  border: none;
}
.offcanvas-footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f6f6;
  height: 120px;
}